---
import { Image, getImage } from "astro:assets";

interface Props {
  limit?: number;
  columns?: 2 | 3 ;
}

const { limit, columns = 3 } = Astro.props;

const mdCols = columns === 2
  ? "md:grid-cols-2"
  : "md:grid-cols-3";

//Grab all gallery images
const imageModules = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/gallery/*.{jpeg,jpg,png,gif,webp,JPEG,JPG,PNG,GIF,WEBP}"
);

let galleryImages = await Promise.all(
  Object.entries(imageModules).map(async ([filepath, loader]) => {
    const mod = await loader();

    const filename =
      filepath.split("/").pop()?.split(".").shift() || "project";

    const formattedAlt = filename
      .replace(/[-_]/g, " ")
      .replace(/\b\w/g, (char) => char.toUpperCase());

    const optimizedLargeImg = await getImage({
      src: mod.default,
      width: 1200, 
      format: 'webp'
    });

    return {
      metadata: mod.default,
      lightboxSrc: optimizedLargeImg.src, //guarantees production URL
      altText: `${formattedAlt} by Quality Landscape and Leisure`
    };
  })
);

galleryImages.sort((a, b) =>
  a.metadata.src.localeCompare(b.metadata.src)
);

const displayedImages =
  typeof limit === "number"
    ? galleryImages.slice(0, limit)
    : galleryImages;
---

<div id="my-gallery" class:list={[
    "grid grid-cols-1 sm:grid-cols-2 gap-6",
    mdCols
  ]}>
  {
    displayedImages.map((item, index) => {
      const isCritical = index < 3;
      
      return (
        <a
          href={item.lightboxSrc}
          data-pswp-width={item.metadata.width}
          data-pswp-height={item.metadata.height}
          target="_blank"
          rel="noreferrer"
          class="overflow-hidden rounded-2xl block aspect-4/3 sm:aspect-square md:aspect-4/3
          bg-white/40 border border-white/20 p-3 shadow-sm
          hover:shadow-md hover:scale-105
          transition-all duration-300 group hover:bg-[#D1D5BE]/80 cursor-zoom-in"
          title={item.altText}
        >
          <Image
            src={item.metadata}
            alt={item.altText}
            widths={[340, 540, 720]}
            sizes="(max-width: 640px) 100vw, (max-width: 768px) 50vw, 33vw"
            class="rounded-xl w-full h-full object-cover group-hover:scale-105 transition-transform duration-500 bg-slate-100"
            loading={isCritical ? "eager" : "lazy"}
            fetchpriority={isCritical ? "high" : "low"}
          />
        </a>
      );
    })
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-gallery",
    children: "a",
    pswpModule: () => import("photoswipe")
  });

  lightbox.init();
</script>